.cart-total {
  position: fixed;
  top: 55px;
  right: 5px;
  border: 1px solid black;
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .recipe-box-container {
  margin-top: 50px;
} */
